.tooltip {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    .tooltip-main {
        padding: .8rem 1.6rem;
        background-color: #444;
        color: white;
        border-radius: .4rem;
        position: absolute;
        min-width: 50px;
        max-width: 30ch;
        text-align: center;
        line-height: 140%;
        z-index: 1000;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #444;
        }
    }
}

.tooltip-hidden {
    display: none;
}