.App {

    margin: 0 auto;

    h1 {
        text-align: center;
        margin-top: 2rem;
        font-size: 3rem;
    }

    .main-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;

        .container {
            border-radius: .8rem;
            border: 1px solid #444;
            height: 50vh;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .8rem
        }

        .input-wrapper {
            display: flex;
            flex-direction: column;
            gap: .4rem
        }
    }
}